main {
    padding: 40px calc(50% - 465px);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    border: 2px solid rgb(47, 149, 245);
    border-radius: 12px;
    margin-top: 15px;
}
