.card {
    padding: 18px;
    display: grid;
    gap: 10px;
    cursor: pointer;
}

.card__price {
    font-size: bold;
    color: rgb(47, 149, 245);
}

.card__img {
    height: 120px;
    background-color: lightslategray;
}

/* .card__teg {
    color: black;
} */