form.auth {
    /* display: flex; */
    background-color: aquamarine;
    padding: 50px calc(50% - 130px);
    /* gap: 25px; */
    /* position: relative;
    justify-content: center; */

}

input {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 20px;
    margin: 5px;
}

button {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 20px;
    margin: 5px;
}