form.auth {
    /* display: flex; */
    /* background-color: aquamarine; */
    padding: 50px calc(50% - 130px);
    border: 2px solid rgb(47, 149, 245);
    border-radius: 12px;
    /* gap: 25px; */
    /* position: relative;
    justify-content: center; */

}

.main-banner {
    padding: 0 17px;
    border: 2px solid rgb(47, 149, 245);
    border-radius: 12px;
}

h1, h3 {
    color: rgb(47, 149, 245);
}

input {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 12px 20px;
    border: 2px solid  rgb(47, 149, 245);
    border-radius: 20px;
    margin: 5px;
}

button {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 12px 20px;
    border: 2px solid  rgb(47, 149, 245);
    border-radius: 20px;
    margin: 5px;
}